.healthy-card {
  border: 1px solid var(--border-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-width: 220px;
  height: 400px;
}

.healthy-container {
  height: 400px;
  width: 100%;
}

.healthy-image {
  width: 400px;
  height: 300px;
  object-fit: contain;
}

.healthy-title {
  padding: 15px;
  background-color: var(--background-color);
  text-align: center;
  color: var(--green);
}

.healthy-card-title {
  color: var(--green);
  font-size: 15px;
  font-weight: 600;
}
