.extra-meal {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var(--border-color);
  height: 100%;
}

.extra-meal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extra-meal-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 8px 15px;
  background-color: var(--green);
  color: white;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.extra-meal-date {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 8px 15px;
  background-color: var(--green);
  color: white;
  display: flex;
  gap: 7px;
  align-items: center;
  border-radius: 12px;
}

.extra-meal-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.extra-meal-item {
  display: flex;
  gap: 15px;
}

.extra-meal-card {
  background-color: var(--background-color);
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  width: 100%;
}

.extra-meal-ctitle {
  margin: 5px;
  font-size: 15px;
  color: var(--text-color);
  font-weight: 700;
}

.extra-meal-desc {
  margin: 8px;
  font-size: 14px;
  color: var(--text-color);
}

.extra-meal-calories {
  font-weight: 700;
  color: var(--green);
}
